<h1>Hello</h1>

{% schema %}
{
  "name": "About Section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Main Heading"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Main Image"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Sub Heading"
    },
    {
      "type": "richtext",
      "id": "desc",
      "label": "About Us"
    }
  ],
  "presets": [
    {
      "name": "About Section"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
