<h1>Hello</h1>

{% schema %}
{
  "name": "About Section",
  "settings": [],
  "presets": [
    {
      "name": "About Section"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
