<section id="counter">
  <div class="counter-section">
    <div class="counter-content">
      <div class="counter-counter">
        <h3>hyper scooter</h3>
        <h2>launching soon</h2>
        <div class="timer">
          <div class="timer-content">
            <div class="days">
              <span id="days1a"></span>
              <span id="days1b"></span>
            </div>
            <div class="hours">
              <span id="hours"></span>
            </div>
            <div class="mins">
              <span id="mins"></span>
            </div>
            <div class="sec">
              <span id="sec"></span>
            </div>
          </div>
        </div>
        <div class="hours-btn">
          <button>Get Hours</button>
          <p>before they're gone</p>
        </div>
      </div>
      <div class="counter-image">
        <div class="counter-image-img">
          <img
            src="https://cdn.shopify.com/s/files/1/0741/7161/3489/t/10/assets/scooter-img_cleanup.jpg?v=1683632830"
            alt="fold"
          >
          <div class="counter-image-head">
            <h2>Unfold</h2>
          </div>
        </div>
        <div class="des-section">
          <div class="des-section-items">
            <div class="des-section-item">
              <h6>25 mph</h6>
              <p>Assist Speed</p>
            </div>
            <div class="des-section-item">
              <h6>50 miles</h6>
              <p>battery range</p>
            </div>
            <div class="des-section-item">
              <h6>4wd</h6>
              <p>full tilt steering</p>
            </div>
            <div class="des-section-item">
              <h6>350 lbs</h6>
              <p>weight capacity</p>
            </div>
            <div class="des-section-item">
              <h6>39 lbs</h6>
              <p>light weight</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Counter Section",
  "settings": [],
  "presets": [
    {
      "name": "Counter Section"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
