<section id="counter">
  <div class="counter-section">
    <div class="counter-content">
      <div class="counter-counter">
        <h3>hyper scooter</h3>
        <h2>launching soon</h2>
        <div class="timer">
          <div class="timer-content">
            <div class="days">
              <span>2</span>
              <span>0</span>
            </div>
            <div class="min">
              <span>1</span>
              <span>2</span>
            </div>
            <div class="sec">
              <span>2</span>
              <span>2</span>
            </div>
          </div>
        </div>
        <button></button>
      </div>
      <div class="counter-image"></div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Counter Section",
  "settings": [],
  "presets": [
    {
      "name": "Counter Section"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
