<section id="graph-section">
  <div class="graph-container">
    {% for block in blocks.settings %}
      <div class="graph-items">
        <h2>{{ block.settings.heading }}</h2>
        <p>{{ block.settings.desc }}</p>
      </div>
    {% endfor %}
  </div>
</section>
{% schema %}
{
  "name": "Graph Section",
  "settings": [
  ],
  "blocks": [
    {
      "name": "blocks",
      "type": "blocks",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "main heading"
        },
        {
          "type": "richtext",
          "id": "desc",
          "label": "content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Graph Section",
      "settings": {
      }
    }
  ]
}
{% endschema %}
