<section id="hempzSection"></section>
{% schema %}
{
  "name": "Reserve Now",
  "tag": "section",
  "class": "section",
  "settings": [
         {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    }
  ],
  "presets": [
    {
      "name": "Reserve Now",
      "settings": {
      }
    }
  ]
}
{% endschema %}
