<section>
    <div class="container">

    </div>
</section>
{% schema %}
  {
    "name": "New Section",
    "tag": "section",
    "class": "section",
    "settings": [
      
    ],
    "presets": [
      {
        "name": "New Section",
        "settings": {
        }
      }
    ]
  }
{% endschema %}