<section id="reservenow">
  <div class="reservenow">
    <button class="close-btn">
      <img
        src="https://cdn.shopify.com/s/files/1/0741/7161/3489/t/10/assets/modal-close.svg?v=1683281033"
        alt="Close Button"
      >
    </button>
    <div class="reserve-wrapper">
      <div class="reserve-header">
        <img src="https://cdn.shopify.com/s/files/1/0741/7161/3489/t/10/assets/dragonfly.png?v=1683281032" alt="logo">
        <h2>Lean into it</h2>
      </div>
      <div class="reserve-container">
        <div class="reserve-form">
          <div class="contact_form">
            <div class="input_field">
              <input class="email-input-field" type="email" name="email" placeholder="Your Email">
            </div>
            <div class="select-model">
              <select name="" class="" id="select_model">
                <option value="DF Model - $600 USD">DF Model - $600 USD</option>
                <option value="DFX Model - $900 USD">DFX Model - $900 USD</option>
              </select>
            </div>
            <div class="dragon-btn">
              <button>reserve dragonfly</button>
            </div>
            <div class="logo_klarna">
              <img
                src="https://cdn.shopify.com/s/files/1/0741/7161/3489/t/10/assets/Klarna_marketing_badge_pink_rgb.svg_4.svg?v=1683281032"
                alt="klarna"
              >
            </div>
          </div>
          <div class="newsletter-checkbox">
            <input type="checkbox" checked="" name="newsletter" id="newsletterCheckbox">
            <label for="newsletterCheckbox" class="inputLabel">Sign me up for Dragonfly newsletter</label>
          </div>
          <div class="product_text">
            <p>Production quantities are limited. Reservations placed today will arrive in July.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Reserve Now",
  "tag": "section",
  "class": "section",
  "settings": [

  ],
  "presets": [
    {
      "name": "Reserve Now",
      "settings": {
      }
    }
  ]
}
{% endschema %}
